<div class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-6">Word Cloud Column Name</label>
    <div class="col-lg-6">
      <select ng-options="name for name in queryResult.getColumnNames()" ng-model="visualization.options.column" class="form-control"></select>
    </div>

    <label class="col-lg-6">Column Name which describes frequency</label>
    <div class="col-lg-6">
      <select ng-options="name for name in queryResult.getColumnNames()" ng-model="visualization.options.frequency_column" class="form-control"></select>
    </div>

    <label class="col-lg-6">size Divider (default is 1)</label>
    <div class="col-lg-6">
      <input type="number" ng-model="visualization.options.sizeDivider" min="1" class="form-control">
    </div>

    <label class="col-lg-6">Canvas Size Default is 500</label>
    <div class="col-lg-6">
      <input type="number" ng-model="visualization.options.canvasSize" min="500" class="form-control">
    </div>
  </div>

</div>
