<div class="tile m-10">
  <div class="t-heading p-10">
    <h3 class="th-title">
      <p>
        <!--<img ng-src="{{$ctrl.logoUrl}}" style="height: 24px;"/>-->
        {{$ctrl.query.name}}
        <small><visualization-name visualization="$ctrl.visualization"/></small>
      </p>
      <small ng-if="$ctrl.showQueryDescription">
        <div class="text-muted" ng-bind-html="$ctrl.query.description | markdown"></div>
      </small>
    </h3>
  </div>

  <visualization-renderer visualization="$ctrl.visualization" query-result="$ctrl.queryResult" class="t-body">
  </visualization-renderer>

  <div class="bg-ace clearfix p-10">
    <div class="col-sm-6">
      <span class="label label-default hidden-print">Updated: <span am-time-ago="$ctrl.queryResult.getUpdatedAt()"></span></span>
      <span class="label label-default visible-print">Updated: {{$ctrl.queryResult.getUpdatedAt() | dateTime}}</span>
    </div>
    <div class="col-sm-6 text-right hidden-print">
      <div class="btn-group" uib-dropdown>
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" aria-haspopup="true" uib-dropdown-toggle
                aria-expanded="false">
          Download Dataset <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" uib-dropdown-menu>
          <li>
            <a ng-href="{{$ctrl.queryResult.getLink($ctrl.query.id, 'csv', $ctrl.apiKey)}}" download="{{$ctrl.queryResult.getName($ctrl.query.name, 'csv')}}" target="_self">
              <span class="fa fa-file-o"></span> Download as CSV File
            </a>
          </li>
          <li>
            <a ng-href="{{$ctrl.queryResult.getLink($ctrl.query.id, 'xlsx', $ctrl.apiKey)}}" download="{{$ctrl.queryResult.getName($ctrl.query.name, 'xlsx')}}"  target="_self">
              <span class="fa fa-file-excel-o"></span> Download as Excel File
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
